{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Eid Secret Gift Exchange" %}{% endblock %}

{% block content %}
    <h2>{% trans "Create Your Eid Gift Exchange Group" %}</h2>
    <p>{% trans "Start a secret gift exchange!" %}</p>
    <form method="post" class="mb-4">
        {% csrf_token %}
        <input type="hidden" name="telegram_id" value="{{ telegram_id }}">
        <div class="mb-3">
            <label for="group_name" class="form-label">{% trans "Group Name" %}</label>
            <input type="text" class="form-control" id="group_name" name="group_name" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">{% trans "Create Group" %}</button>
    </form>
{% endblock %}